@charset "UTF-8";

$theme-type-list: 'primary', 'secondary', 'success', 'info', 'warning', 'danger', 'light', 'dark';

$primary-color: var(--tds-primary-color);
$secondary-color: var(--tds-secondary-color);
$success-color: var(--tds-success-color);
$info-color: var(--tds-info-color);
$warning-color: var(--tds-warning-color);
$danger-color: var(--tds-danger-color);
$light-color: var(--tds-light-color);
$dark-color: var(--tds-dark-color);

$theme-colors: (
  primary: $primary-color,
  secondary: $secondary-color,
  success: $success-color,
  info: $info-color,
  warning: $warning-color,
  danger: $danger-color,
  light: $light-color,
  dark: $dark-color,
);